#!/bin/bash

export USER=root
export RUN_NAME=mesa-viewer
export IMAGE_NAME=mesa_viewer
export AFIS_VIEWER_DATABASE_NAME=viewer
export AFIS_VIEWER_DATABASE_USER=docker
export AFIS_VIEWER_DATABASE_PASS=docker
export AFIS_VIEWER_DATABASE_HOST=postgis
export AFIS_VIEWER_DATABASE_PORT=5432
export AFIS_VIEWER_STATIC_ROOT=/tmp/django_project/afisweb/static
export AFIS_VIEWER_PORT=8000
export AFIS_VIEWER_GEOSERVER_URL=/geoserver/
export AFIS_VIEWER_GEOSERVER_USER=admin
export AFIS_VIEWER_GEOSERVER_PASS=geoserver

