<div id="layer-switcher">
  <b>  
  <p><input type="radio" name="baselayer" class="baselayer" checked id="Custom">Custom</input></p>
  <p><input type="radio" name="baselayer" class="baselayer" id="Google Physical">Google Physical</input></p>
  <p><input type="radio" name="baselayer" class="baselayer" id="Google Streets">Google Streets</input></p>
  <p><input type="radio" name="baselayer" class="baselayer" id="Google Hybrid">Google Hybrid</input></p>
  <p><input type="radio" name="baselayer" class="baselayer" id="Google Satellite">Google Satellite</input></p>
  </b>
</div>
