<html>
<head>
</head>
<body>
<h1>We are currently experiencing problems with some versions of Internet Explorer.</h1>

<h2>We have detected your browser as {{ browser }}.</h2>

<b>Please consider using <a href="http://www.mozilla.org/en-US/firefox/new/"><u>Firefox</u></a> or <a href="https://www.google.com/chrome/index.html"><u>Google Chrome</u></a>. Sorry for the inconvenience.</b>
<br>
<br>
<b>You can <a href="http://afis.meraka.org.za/?try_old_browser=true">try using your current browser</a> anyway.</b>
</body>
</html>
