<h2>AFIS Disclaimer</h2>
<h3>Important Disclaimer</h3>

<strong>Stakeholders (CSIR &amp; ESKOM)</strong>

<p>The stakeholders advise that the information available from this 
    website is to be used as a management tool only.</p>

<div class="polaroid pull-right polaroid-right">
  <img src="/static/images/afislogo.png" alt="">
  <p class="caption">Advanced Fire Information System</p>
</div>

<p>This service is able to determine relative temperature differences
or "hotspots", but is not intended to be able to determine the cause of
or identify the nature of such "hotspots".</p>


<p>The user is informed that information on this website is dependent
on the availability and functioning of satellites. The quality and
geo-positional accuracy of the information is not warranted and/or
guaranteed. Information may therefore be outdated, inaccurate or
incomplete at the time of using this website due to circumstances
existing at that time such as unavailability of or delay in data supply
from satellites, inability to obtain precise data caused by the
inherent spatial inaccuracies of satellite sensors or inability to
obtain complete data due to the prevailing weather conditions at the
time of over-flight.</p>

<p>No reliance or actions must therefore be made on this information
without seeking prior expert professional, scientific and technical
advice to determine the identification and actual cause of the
"hotspot" and without carrying out surveillance and investigations on
the ground.</p>

<p>To the extent permitted by law, the stakeholders exclude all
liability to any person and/or legal entity for any consequences,
including but not limited to all losses, damages, costs, expenses and
any other compensation, arising directly or indirectly from using this
website (in part or in whole) and any information or material contained
in it or arising from it, including e-mail and SMS notifications.</p> 
