<div id="menu" class="screen-only" style="text-align: right">
  {# don't prettify this by adding line breaks - the jquery buttonset #}
  {# will interject spaces between tool buttons if you do #}
<!--a href="http://fdi.afis.co.za" target=_new id="fdi_forecasts" class="notice-button"><img src="/static/images/fdi_forecasts.png"></a-->
&nbsp;
<a href="http://www.afis.co.za/mobile/" target=_new id="mobileapp" class="notice-button"><img src="/static/images/mobileapp.png"></a>
&nbsp;
<a href="http://www.mesasadc.org/" target=_new class="button" id="partners-button">MESA</a><a href="/disclaimer" class="button fancybox" id="disclaimer" >Disclaimer</a><!--a class="button" id="places-button">Places</a><a class="button" id="date-query-button">Date Query</a--><a class="button" id="base-layer-button">Base Layer</a><a href="/help" class="button fancybox" id="help">Help</a></div>

