html,
body {
  min-height: 100%;
}

body {
  overflow: hidden;

  background-color: #2d2d2d;
  background-image: url('../images/banner.jpg'), url('../images/banner-repeatx.jpg');
  background-repeat: no-repeat, repeat-x;

}
#datetime{
  text-align:right;
  position:absolute;
  top:10;
  right:7;
}

#wrench{
  text-align:right;
  position:absolute;
  top:10;
  right:7;
  cursor:pointer;
}


.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}







tr.row_selected td{background-color:rgb(172, 186, 212) !important;}

.navbar-brand img {
    height: 70px;
    background-color: white; 
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 20px;
}
#hide_elements{
 visibility: hidden;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url("../images/mesa-logo-.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cursor
{ 
   cursor: pointer; 
}

/*
.navbar-offset {
  margin-top: 50px;
}
*/

table.dataTable tr {
   cursor: pointer; 
}

td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center;
}

table.dataTable th, 
div.fire-table {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(122, 144, 122, 1);

}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

table.dataTable .icon-column 
{
    width: 20;
    padding-right: 0;
}

#chartdiv {
  background: #3f3f4f;
  color: #ffffff;
  width: 100%;
  height: 40vh;
  font-size: 11px;
}

#map {
  z-index: 55;
  background: #3f3f4f;
  color: #ffffff;
  width: 100%;
  height: 40vh;
  font-size: 11px;
}



.sidebar-body .panel-heading {
  background-color: rgba(25, 25, 25, 0.5);
}

.panel-body {
  background-color: rgba(25, 25, 25, 0.5);
}

.panel-title {

}


.main-area {
  /*position: relative;
  height: 100%;*/
  /*background-color: rgba(0, 200, 0, 0.2);*/
}



/*
.slide-submenu {
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;

}
*/

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10px;
}
/*
.logo  {
    text-align: center;
    margin-top: 30px;
}

.logo img {
    width: 12vw;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 4px;
}
*/



.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

td.fire-detail-list {
  height: 100px;
}

td.fire-detail-list ul {
  overflow:hidden; 
  overflow-y:scroll;
  list-style-type: none;
  max-height: 100px;
}

td.fire-detail-list ul li {
  margin: 5px;
}
