examples
offline
fonts

.idea
geoserver_data
postgres_data


*.pyc
*~
*.log

venv

volumes

admin/geoserver/mesa_rasters/HYP_50M_SR_W.tif

*aux.xml

ingest/af_modis
ingest/af_msg
ingest/af_viirs
ingest/mesa_fdifwi
ingest/modis_tc
ingest/mesa_burned_area

