export POSTGREST_DB_HOST=localhost
export POSTGREST_DB_PORT=5432
export POSTGREST_DB_NAME=gis
export POSTGREST_DB_USER=docker
export POSTGREST_DB_PASS=docker
export POSTGREST_DB_POOL=200
export POSTGREST_DB_ANONYMOUS=postgres
export POSTGREST_PORT=3000
export POSTGREST_V1SCHEMA=public
export POSTGREST_VARGS=


