#!/bin/bash

# directory where docker volumes will be stored
export VOLUMES=/data/volumes

# MESA database settings
export MESA_DB_HOST=postgis
export MESA_DB_PORT=5432
export MESA_DB_NAME=gis
export MESA_DB_USER=docker
export MESA_DB_PASS=docker

# RabbitMQ / AMQP settings
export RABBITMQ_USER=user
export RABBITMQ_PASS=password
export MESA_FT_AMQP_URI="amqp://$RABBITMQ_USER:$RABBITMQ_PASS@rabbitmq:5672/"
export MESA_FT_AMQP_EXCHANGE="mesa_terminal"



