#!/bin/bash

# directory where docker volumes will be stored
export VOLUMES=/data/volumes

# docker image build tag for docker hub
export BUILD_TAG=pre-operational

# MESA database settings
export MESA_DB_HOST=postgis
export MESA_DB_PORT=5432
export MESA_DB_NAME=gis
export MESA_DB_USER=docker
export MESA_DB_PASS=docker

# RabbitMQ / AMQP settings
export RABBITMQ_USER=user
export RABBITMQ_PASS=password
export MESA_FT_AMQP_URI="amqp://$RABBITMQ_USER:$RABBITMQ_PASS@rabbitmq:5672/"
export MESA_FT_AMQP_EXCHANGE="mesa_terminal"

# MESA viewer
export VIEWER_USER=root
export VIEWER_RUN_NAME=mesa-viewer
export VIEWER_IMAGE_NAME=mesasadc/mesa_viewer:$BUILD_TAG
export AFIS_VIEWER_DATABASE_NAME=viewer
export AFIS_VIEWER_DATABASE_USER=docker
export AFIS_VIEWER_DATABASE_PASS=docker
export AFIS_VIEWER_DATABASE_HOST=postgis
export AFIS_VIEWER_DATABASE_PORT=5432
export AFIS_VIEWER_STATIC_ROOT=/tmp/django_project/afisweb/static
export AFIS_VIEWER_PORT=8000
export AFIS_VIEWER_GEOSERVER_URL=/geoserver/
export AFIS_VIEWER_GEOSERVER_USER=admin
export AFIS_VIEWER_GEOSERVER_PASS=geoserver

# supervisord credentials (you can replace the random password generator with a secure password)
export SUPERVISOR_USER=superman
export SUPERVISOR_PASS=`pwgen -v 30 1`
