SQITCH_NAME="My Name"
SQITCH_EMAIL=me@email.com
SQITCH_DB_HOST=1.2.3.4
SQITCH_DB_PORT=5432
SQITCH_DB_NAME=gis
SQITCH_DB_USER=docker
SQITCH_DB_PASS=docker
SQITCH_PROJECT_NAME="mesa"


POSTGREST_DB_HOST=$SQITCH_DB_HOST
POSTGREST_DB_PORT=$SQITCH_DB_PORT
POSTGREST_DB_NAME=$SQITCH_DB_NAME
POSTGREST_DB_USER=$SQITCH_DB_USER
POSTGREST_DB_PASS=$SQITCH_DB_PASS
POSTGREST_DB_POOL=200
POSTGREST_DB_ANONYMOUS=postgres
POSTGREST_PORT=3000
POSTGREST_V1SCHEMA=1
POSTGREST_VARGS=

