export MESA_DB_HOST=db
export MESA_DB_PORT=5432
export MESA_DB_NAME=gis
export MESA_DB_USER=docker
export MESA_DB_PASS=docker

export MESA_FT_AMQP_URI="amqp://vhost:password@172.17.0.17:5672/vhost"
export MESA_FT_AMQP_EXCHANGE="mesa_terminal"


