#!/bin/bash

export MESA_DB_HOST=postgis
export MESA_DB_PORT=5432
export MESA_DB_NAME=gis
export MESA_DB_USER=docker
export MESA_DB_PASS=docker

export RABBITMQ_USER=user
export RABBITMQ_PASS=password

export MESA_FT_AMQP_URI="amqp://$RABBITMQ_USER:$RABBITMQ_PASS@rabbitmq:5672/"
export MESA_FT_AMQP_EXCHANGE="mesa_terminal"

